<template>

    <tr>
        <td>
            <input v-if="editMode" type="numbre" class="form-control" v-model="elevator.elevator_number">
            <p v-else >{{elevator.elevator_number}}</p>
        </td>
        <td>
            <input v-if="editMode" type="number" class="form-control" v-model="elevator.frequency">
            <p v-else >{{elevator.frequency}}</p>
        </td>
        <td>
            <input v-if="editMode" type="number" class="form-control" v-model="elevator.flors">
            <p v-else >{{elevator.flors}}</p>
        </td>
        <td>
            <input v-if="editMode" type="number" class="form-control" v-model="elevator.start">
            <p v-else >{{elevator.start}}</p>
        </td>
        <td>
            <input v-if="editMode" type="number" class="form-control" v-model="elevator.end">
            <p v-else >{{elevator.end}}</p>
        </td>
        <td>
            <button v-if="editMode" class="btn btn-success" v-on:click="update" >Guardar</button>
                <button  v-else  class="btn btn-warning" v-on:click="edit" >Editar</button>
                <button class="btn btn-danger" v-on:click="del"> Eliminar</button>
        </td>
    </tr>

</template>

<script>
    export default {
        props:['elevator'],
         data(){
            return{
              editMode : false,
            }
        },
        mounted() {
           
        },
        methods:{
            del(){
                 axios.delete(`/elevators/${this.elevator.id}`)
                .then(()=>{
                    this.$emit('delete');                
                });

            },
            edit(){
                this.editMode = true;
            },
            update(){
                 const params ={
                    elevator_number:this.elevator.elevator_number,
                    frequency:this.elevator.frequency,
                    flors:this.elevator.flors,
                    start:this.elevator.start,
                    end:this.elevator.end
                };
                axios.put(`/elevators/${this.elevator.id}`,params)
                .then((response)=>{
                    this.editMode = false;
                    const elevator = response.data
                    this.$emit('update',elevator);                
                });

            }
        }
    }
</script>

